<footer class="footer">
  
    <div class="block">
        <p>Distribuidora Boutique</p>
        <p>Marcelo T. de alvear 1204</p>
        <p>Tel: +54 1164804002</p>
        <p>contacto@iluminar.com</p>
    </div>
    
    <div class="block">
        <p>Ayuda</p>
        <p>Cómo comprar</p>
        <p>Envíos</p>
        <p>Términos y Condiciones </p>
    </div>

    <div class="block">
        
        <p>Copyright© Iluminar+. All rights reserved. </p>

    </div>

    <div class="block social">
        
        <p>Seguinos</p>
        <div class="network">
            <p><i class="fab fa-facebook-f"></i></p>
            <p><i class="fab fa-instagram"></i></p>
            <p><i class="fab fa-whatsapp"></i></p>
        </div>
    </div>
</footer>