<header class="containerHeader">
    <div class="topBar">
        <i class="fa-solid fa-bars iconLeft"></i>
        <nav class="hidden">
            <ul>
                <li><a href="#">Colgantes</a></li>
                <li><a href="#">De pared</a></li>
                <li><a href="#">De piso</a></li>
                <li><a href="#">Exteriores</a></li>
                <li><a href="#">Bombillas</a></li>
                <li><a href="#">Paneles solares</a></li>
            </ul>
        </nav>
        <a href="/"><img src="/img/ILUMINAR_Mesa de trabajo 1.png" alt="Logo" height="60px"></a>
        <div class="iconsRight">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-bag-shopping"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </div>

</header>