<div class="description">
    <h2>Novedades</h2>
    <p>Estas son nuestros últimos ingresos</p>
</div>

<section class="news">
    <div class="swiper" id="swiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Pepita</a>
                </div>
                <img src="img/colgante1.jpg" alt="novedades">
            </div>
            <div class="swiper-slide">
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Carlita</a>
                </div>
                <img src="img/colgante2.jpg" alt="novedades">
            </div>
            <div class="swiper-slide">
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Mengana</a>
                </div>
                <img src="img/colgante3.jpg" alt="novedades">
            </div>
        </div>
        <div class="swiper-pagination">
            
        </div>
    </div>

</section>