<div class="description">
    <h2>Ofertas</h2>
</div>

<section class="news">
    <div class="swiper" id="swiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="discountContainer">
                    <div class="priceContainer">
                        <div class="price"><div class="oldPrice"><p>$30.000</p></div></div>
                        <div class="price"><h3>$20.000</h3></div>
                    </div>
                    <div class="discount"><h3>30% off</p></div>
                </div>
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Pepita</a>
                </div>
                <img src="img/colgante1.jpg" alt="novedades">
            </div>
            <div class="swiper-slide">
                <div class="discountContainer">
                    <div class="priceContainer">
                        <div class="price"><div class="oldPrice"><p>$30.000</p></div></div>
                        <div class="price"><h3>$20.000</h3></div>
                    </div>
                    <div class="discount"><h3>30% off</p></div>
                </div>
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Carlita</a>
                </div>
                <img src="img/colgante2.jpg" alt="novedades">
            </div>
            <div class="swiper-slide">
                <div class="discountContainer">
                    <div class="priceContainer">
                        <div class="price"><div class="oldPrice"><p>$30.000</p></div></div>
                        <div class="price"><h3>$20.000</h3></div>
                    </div>
                    <div class="discount"><h3>30% off</p></div>
                </div>
                <div class="buttonContainer">
                    <a class="button" href="/lamps">Lampara Mengana</a>
                </div>
                <img src="img/colgante3.jpg" alt="novedades">
            </div>
        </div>
        <div class="swiper-pagination">
            
        </div>
    </div>

</section>