
    <%- include ('./partials/head', {title: 'Inicio'}) %>
<body>
    <header class="containerMainHeader">
        <div class="topBar">
            <i class="fa-solid fa-bars iconLeft"></i>
            <nav class="hidden">
                <ul>
                    <li><a href="#">Colgantes</a></li>
                    <li><a href="#">De pared</a></li>
                    <li><a href="#">De piso</a></li>
                    <li><a href="#">Exteriores</a></li>
                    <li><a href="#">Bombillas</a></li>
                    <li><a href="#">Paneles solares</a></li>
                </ul>
            </nav>
            <img src="/img/ILUMINAR_Mesa de trabajo 1.png" alt="Logo" height="60px">
            <div class="iconsRight">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-bag-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>

    </header>

    <div class="description">

        <h2>Crea ambiente</h2>
        <p>Fuentes de luz sutiles que hacen destacar esos rincones tranquilos donde buscas espacio para la contemplación y la relajación. O como perlas en una cuerda decorativa que crean un telón de fondo atractivo y acogedor sobre la mesa del comedor o en la entrada.</p>
        <p>Cada lámpara, foco, fuente de luz y destello de luz se ha diseñado con una precisión meticulosa, casi clínica, que no sucumbe a modas ni a tendencias fugaces, sino que hace destacar la artesanía y las tradiciones al tiempo que desafía, desarrolla e interpreta el legado, el lenguaje de diseño, la cultura y el espíritu de una manera respetuosa pero seductora y única.</p>
       
    </div>

    <section class="types">
        <img src="img/balloon_01.webp" alt="Lámparas colgantes">
        <div class="buttonContainer">
            <a class="button" href="/products/lamps">Lámparas colgantes</a>
        </div>
    </section>
    <section class="types">
        <img src="img/living-sillones.webp" alt="Lámparas de pie">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Lámparas de pie</a>
        </div>
    </section>
    <div class="note">
        <p>Nuestra colección de lámparas se puede entregar en 4-5 días laborables.</p>
    </div>
    <section class="types">
        <img src="img/reflection-series (2).webp" alt="Lámparas de pared">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Lámparas de pared</a>
        </div>
    </section>
    <section class="types">
        <img src="img/scribe.webp" alt="Lámparas de mesa">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Lámparas de mesa</a>
        </div>
    </section>
    <div class="note">
        <p>¿Sabías que contamos con asesoramiento profesional personal? Si tenés dudas en que iluminación es la mejor para tu ambiente, no dudes en consultarnos</p>
    </div>
    <section class="types">
        <img src="img/exterior.webp" alt="Lámparas de exteriores">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Lámparas de exteriores</a>
        </div>
    </section>
    <section class="types">
        <img src="img/light-bulbs.webp" alt="Bombillas">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Bombillas</a>
        </div>
    </section>

    <div class="description">
        <h2>Recibi buenas noticias</h2>
        <p>Recibi información sobre promociones inspiradoras, presentación de nuevos productos e invitaciones a eventos en la bandeja de entrada de tu correo electrónico. Cuando te registres, trataremos la información que nos proporciones (nombre, información de contacto, tienda más cercana, historial de compras y comportamiento de búsqueda en nuestra página web) para personalizar nuestras comunicaciones específicamente a tus gustos. Podrás anular tu suscripción en cualquier momento, por ejemplo, <a class="under" href="#">aquí</a>. Iluminar+ es la responsable del tratamiento de los datos, por lo que si deseas obtener más información sobre el tratamiento que damos a los datos y sobre tus derechos, podrás encontrarla en nuestra <a class="under" href="#">política de datos personales</a>.</p>
        <div class="formReg">
            <form action="" class="form">
                    <input type="text" class="input" placeholder="Tu correo electronico">
                    <input type="submit" class="submitBtn" value="Registrate ahora">
            </form>
        </div>
    </div>

    <%- include ('./partials/footer') %>
    
</body>
</html>
