<%- include ('./partials/head', {title: 'Lamparas'}) %>
<body>
    
    <%- include ('./partials/header') %

    
    <h2>Lámparas colgante</h2>
    <p>La lámpara colgante es un centro de atracción a la vista justo en el centro de la estancia y manifiesta así el gusto personal de los anfitriones.</p>
    
    <i class="fa-solid fa-filter"></i>
    <p>filtrar</p>

    <section class="types">
        <img src="img/balloon_01.webp" alt="Lámparas colgantes">
        <div class="buttonContainer">
            <a class="button" href="/lamps">Lámparas colgantes</a>
        </div>
    </section>

    <%- include ('./partials/footer') %>

</body>
</html>

