:root{
  --brown: #d3c8b6;
  --gray: #e1e1dd;
  --blue: #183766;
  --darkGray: #d2d2d2;
}


body {
  font-family: 'Cormorant', Helvetica, serif;
}


h2{
  font-size: 2rem;
  font-weight: 400;
}

p{
  font-size: 1.2rem;
}

ul{
  list-style-type: none;

}

a{
  text-decoration: none;
  color: black;
}


.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  z-index: 1;


}

.hidden{
  display: none;
}

.iconLeft{
  width: 20%;
}

.hamburger{
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 5px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar{
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -3px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: var(--brown);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav .is-active {
  left: 0;
}

.mobile-nav a{
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: var(--gray);
}


.mobile-nav a:hover{
  transition: 0.4s;
  background-color: var(--darkGray) ;
}

.iconsRight{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.containerMainHeader{
  background-image: url('../img/Colgantes.webp');
  height: 60vh;
  background-position: center;
  background-size: cover;
}

.containerHeader{
  background: linear-gradient(180deg, var(--gray) 60%, rgba(255,255,255,1) 100%);
}

/* Swiper */

.swiper-slide {
  position: relative;
}

.swiper-slide h2 {
  position: absolute;
}
.swiper-slide img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#swiper-1 .swiper-pagination-bullet {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 6px;
}

#swiper-1 .swiper-pagination-bullet-active {
  background-color: var(--blue);
}

.description{
  max-width: 1500px;
  margin: 0 1rem;
}


/* Discount */


.price{
  background-color: black;
  margin: 5px 0;
  color: var(--brown);
  padding: 0 10px;
}

.price p{
  margin: 0;
  display: flex;
  justify-content: center;
}

.discountContainer{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.discountContainer h3 {
  margin: 0;
}

.discount h3{
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
}

.discount{
  
  background-color: black;
  color: var(--brown);
}

.oldPrice{
  position: relative;
}

.oldPrice::before{ /* custom striketrough */ 
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  border-bottom: 3px solid rgba(255,0,0,0.8);
}

.types{
  position: relative;
}
.types img{
  max-width: 600rem;
  width: 100%;
}

.button{
  color: white;
  padding: 0.6rem 1rem;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  transition: 0.3s;
}
.button:hover {opacity: 1}

.buttonContainer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

}


.note {
  margin: 0 1rem;
}

.note p{
  text-align: center;
}

.under{
  text-decoration: underline;
}

.form{
  display: flex;
  justify-content: space-between;
}



.form .input{
  border: 0px;

}

.submitBtn{
  color: black;
  background-color: transparent;
  border-color: var(--brown);
  opacity: 0.8;
  transition: 0.3s;
  padding: 0.6rem;
}

.submitBtn:hover{
  opacity: 1;
  cursor: pointer;
  background-color: var(--brown);

}


.footer {
  background-color: var(--brown);
  padding: 1rem;  
  margin-top: 1rem;

}


.network {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.social p{
  margin-bottom: 0;
}

